<div class="home-cards">
  <p>Recent Members</p>
  <% users = get_recent_members %>
  <% users.each do |user| %>
    <div class="col-md-2" style="margin:0 2vh;">
      <%= link_to gravatar_for(user, size: 50), get_user(user.id)%>
      <p><%= user.name %></p>
    </div>
  <% end %>
</div>