<% posts = get_posts_by_user(@user.id) %>
<% posts.each do |post| %>
    <div class="row">
        <div class="col-lg-6 col-md-6">
            <p><%= post.title%></p>
        </div>
        <div class="col-lg-6 col-md-6">
            <p><%= post.created_at%></p>
        </div>
    </div>
<% end %>