<h1>Settings#show</h1>
<p>Find me in app/views/settings/show.html.erb</p>

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-12">
            <ul>
                <li>My Profile</li>
                <li>My Post</li>
                <li>My Comments</li>
                <li>Comments to Me</li>
                <li>Settings</li>
            </ul>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-12">
            <%= yield %>
        </div>
    </div>

</div>
