// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#post-title a {
    color: black;
    font-weight: 300;
    font-size: 1.5rem
}

#post-title a:hover{
    color: red;
    text-decoration: none;
}