// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-info {
    text-align: center
}

aside .gravatar {
    float: none
}

#grav-container {
    margin-top: 3rem;
    text-align: center
}