<!-- Footer -->
<footer class="footer mt-auto py-3">

  <!-- Copyright -->
  <div class="container">
    <span>Copyright© 2020 | Powered by David Doan (student number) and Alexander Witedja (student number) | Tute group 4 | Tutor: Homy</span>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->